.detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #0B222C; /* Blue color for the title */
  }
  
  h3 {
    margin-bottom: 10px;
    color: black; /* Dark text color for headings */
  }
  
  .detail-description {
    margin-bottom: 18px;
    color: black;
    white-space: pre-wrap;
  }
  
   
  
  button {
    padding: 10px 15px;
    background-color: #0B222C; /* Blue color for the button */
    color: #fff; /* White text color for the button */
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0B222C; /* Darker blue on hover */
  }
  