.cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-top: 15px;
}

.floating-container{
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 6px;
}

.floating-container:hover{
    height: 300px;
}

.floating-container:hover .floating-button{
    box-shadow: 0 10px 25px rgba(11, 34, 44, 0.6);
    transform: translatey(5px);
    transition: all 0.3s;
}

.floating-button{
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 10;
    box-shadow: 0 10px 25px rgba(11, 34, 44, 0.3);
    cursor: pointer;   
    border: none;
    background-color: #0b222c;
}
